.App {
  text-align: center;
}

img {
  max-width: 25%;
  height: auto
}

.img2{
  height: 95px
}


/* Nav Styling */
.navbar {
  margin: 0px;
  padding: 10px;
  font-family: 'Marigold';
  font-size: 20px;
  color: black;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 5vh;
}

header nav a {
  margin: 0 1em;
  font-size: 20px;
  color: black
}

.jump {
 color: black;
 text-decoration: none;
 font-family: fantasy;
}

.logo-content, h1{
  display: flex;
  flex-flow: column;
  text-align: center;
}

.intro{
  display: flex;
  flex-flow: column;
  text-align: center;
}

.login-form{
  display: flex;
  flex-flow: column;
  text-align: center;
}

.post-link{
  display: flex;
  flex-flow: column;
  text-align: center;
}

.column-container{
  display: flex
}

.card, h2{
  display: flex;
  flex-flow: column;
  text-align: center;
}

.post-map{
  height: 500px;
  margin: 10px;
  overflow-y: auto
}

.map{
  height: 500px;
  width: 600px;
  margin-left: 65px;
  overflow-y: auto;
}

@media all and (max-width: 500px){

  .img2 {
    height: auto
  }

  img {
    height: auto
  }

  .navbar {
    margin: 0px;
    padding: 10px;
    font-family: 'Marigold';
    font-size: 10px;
    color: black;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
  }
}